* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
* button {
  cursor: pointer;
}

a,
li,
ul,
input,
button {
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
}

.container {
  max-width: 1321px;
  padding: 0 24px;
  margin: auto;
}

body {
  background-color: #fff;
}

.navbar {
  padding: 20px 28px;
}

.navbar__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar--icon {
  width: 16px;
  height: 16px;
}

.navbar--title {
  color: #22202e;
  font-size: 24px;
  font-weight: 400;
}

.nabar__icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar__icons--icon {
  width: 16px;
  height: 16px;
}

.menu {
  width: 16px;
  height: 16px;
  display: none;
}

.navbar--line {
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.navbar__bootom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
}

.navbar__bootom--link {
  color: #726e8d;
  font-size: 16px;
  font-weight: 400;
}

.nav-blokk {
  width: 16px;
  height: 16px;
  display: none;
}

@media screen and (max-width: 770px) {
  .navbar {
    padding: 20px 24px;
  }
  .navbar--icon,
  .navbar__bootom,
  .navbar--line,
  .nonee {
    display: none;
  }
  .menu {
    display: block;
  }
  .nav-blokk {
    display: block;
  }
}
.cards {
  padding-top: 60px;
  padding-bottom: 86px;
}

.cards--title {
  text-align: center;
  margin-bottom: 51px;
  color: #2a254b;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
}

.cards__wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.cards__wraper__card {
  padding: 48px;
  background-color: #f9f9f9;
}

.card__wraper__card--img {
  font-size: 24px;
  margin-bottom: 16px;
}

.card__wraper__card--title {
  color: #2a254b;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%; /* 28px */
  margin-bottom: 8px;
}

.card__wraper__card--text {
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  max-width: 270px; /* 24px */
}

@media screen and (max-width: 1024px) {
  .card__wraper__card--title {
    font-size: 18px;
  }
  .card__wraper__card--text {
    font-size: 13px;
    max-width: 240px; /* 24px */
  }
  .cards__wraper {
    flex-wrap: wrap;
    gap: 36px;
  }
}
@media screen and (max-width: 770px) {
  .cards {
    padding-top: 48px;
    padding-bottom: 45px;
  }
  .cards--title {
    font-size: 20px;
    text-align: start;
  }
  .card__wraper__card--text {
    font-size: 14px;
  }
  .card__wraper__card--title {
    font-size: 16px;
  }
  .cards__wraper__card {
    padding: 36px 24px;
  }
}
.cremes {
  margin-top: 80px;
}

.cremes-title {
  color: #2a254b;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 33px;
}

.cremes__wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cremes--img {
  margin-bottom: 24px;
}

.cremes--title {
  color: #2a254b;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%; /* 28px */
  margin-bottom: 8px;
}

.cremes--text {
  color: #2a254b;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.cremes--btn {
  background: #f9f9f9;
  padding: 16px 32px;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-top: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1300px) {
  .cremes--img {
    width: 250px;
    object-fit: cover;
  }
  .cremes {
    margin-top: 0;
  }
}
@media screen and (max-width: 1080px) {
  .cremes--img {
    width: 200px;
    object-fit: cover;
  }
  .cremes__wraper {
    flex-wrap: wrap;
    gap: 16px;
  }
}
@media screen and (max-width: 885px) {
  .cremes--img {
    width: 163px;
    height: 201px;
    object-fit: cover;
  }
  .cremes-title {
    font-size: 20px;
    margin-bottom: 19px;
  }
}
@media screen and (max-width: 410px) {
  .cremes__wraper {
    gap: 10px;
  }
  .cremes--btn {
    width: 300px;
  }
  .cremes--img {
    width: 150px;
    object-fit: cover;
    height: 180px;
  }
  .cremes--title {
    font-size: 18px;
  }
  .cremes--text {
    font-size: 14px;
  }
}
.footer {
  background: #2a254b;
  padding-top: 58px;
  padding-bottom: 22px;
}

.footer__wraper {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer__info {
  display: flex;
  gap: 150px;
}

.footer__info__wraper {
  display: flex;
  gap: 109px;
}

.footer__info__links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__info__links--link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.footer__inputs--text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

.footer__inputs__wraper {
  display: flex;
}

.footer--input {
  padding: 17px 200px 17px 32px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.footer--btn {
  cursor: pointer;
  background: #fff;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding: 16px 32px;
}

.footer--line {
  background: #4e4d93;
  height: 1px;
  margin-top: 48px;
  margin-bottom: 24px;
}

.footer__bootom__icons {
  display: flex;
  justify-content: space-between;
}

.footer__bootom__icons--text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.footer__bootom__icons__wraper {
  display: flex;
  gap: 24px;
}

.footer__bootom__icons__wraper--icon {
  font-size: 24px;
}

@media screen and (max-width: 1200px) {
  .footer__info {
    gap: 100px;
  }
  .footer__info__wraper {
    gap: 59px;
  }
  .footer--input {
    padding: 17px 100px 17px 32px;
  }
}
@media screen and (max-width: 1024px) {
  .footer--input {
    padding: 17px 50px 17px 32px;
    font-size: 12px;
  }
  .footer__info {
    gap: 70px;
  }
  .footer__info__wraper {
    gap: 49px;
  }
}
@media screen and (max-width: 870px) {
  .footer__wraper {
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__info {
    gap: 150px;
  }
  .footer__info__wraper {
    gap: 100px;
  }
}
@media screen and (max-width: 770px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .footer__info {
    gap: 30px;
    flex-direction: column;
  }
  .footer__info__wraper {
    justify-content: space-between;
  }
  .footer--line {
    margin-top: 16px;
    margin-bottom: 20px;
  }
  .footer__bootom__icons__wraper--icon {
    display: none;
  }
  .footer__bootom__icons--text {
    margin: auto;
  }
  .footer--input {
    padding: 17px 55px 17px 32px;
  }
  .footer--btn {
    font-size: 11px;
  }
}
@media screen and (max-width: 450px) {
  .footer--input {
    padding: 17px 30px 17px 32px;
    font-size: 11px;
  }
}
@media screen and (max-width: 375px) {
  .footer--input {
    padding: 17px 10px 17px 32px;
    font-size: 11px;
  }
}
.hero {
  padding: 130px 0;
  background-image: url(../../../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.hero__wrap {
  display: flex;
  justify-content: end;
}

.hero__info {
  padding: 48px 61px 46px 56px;
  background-color: #fff;
}

.hero--title {
  color: #22202e;
  max-width: 519px;
  font-size: 32px;
  font-weight: 400;
  line-height: 140%; /* 44.8px */
  margin-bottom: 20px;
}

.hero--text {
  margin-bottom: 150px;
  color: #5b5676;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.hero--btn {
  cursor: pointer;
  padding: 16px 32px;
  background: #f9f9f9;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.hero--none-img {
  display: none;
}

@media screen and (max-width: 1024px) {
  .hero--text {
    margin-bottom: 120px;
  }
  .hero__info {
    padding: 40px 51px 40px 50px;
  }
}
@media screen and (max-width: 765px) {
  .hero {
    padding: 0;
    margin-top: 45px;
    background: none;
  }
  .hero--none-img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  .hero__wrap {
    justify-content: center;
  }
  .hero--text {
    margin-bottom: 32px;
    font-size: 16px;
  }
  .hero--title {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .hero__info {
    padding: 0;
  }
  .hero--btn {
    width: 100%;
    margin-bottom: 32px;
  }
}
.main {
  padding: 60px 0;
}

.main__wraper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.main__info {
  padding: 64px 75px 55px 64px;
  background-color: #2a254b;
  width: 50%;
}

.main__info--title {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 12px;
}

.main__info--text {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 205px;
}

.main__info--btn {
  padding: 16px 32px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  background: rgba(249, 249, 249, 0.15);
}

.main--img {
  object-fit: cover;
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .main__info--text {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 920px) {
  .main__info--text {
    margin-bottom: 50px;
  }
  .main__info {
    padding: 54px 65px 45px 54px;
  }
  .main {
    padding: 40px 0;
  }
}
@media screen and (max-width: 765px) {
  .main__info--text {
    margin-bottom: 56px;
    font-size: 14px;
  }
  .main__info--title {
    font-size: 20px;
  }
  .main__info {
    width: 100%;
    padding: 36px 32px 30px 32px;
  }
  .main__info--btn {
    width: 100%;
  }
  .main {
    padding: 32px 0;
  }
  .main__wraper {
    flex-direction: column;
  }
  .main--img {
    width: 100%;
  }
}
.email {
  padding-top: 97px;
  padding-bottom: 88px;
  background-image: url(../../../img/email--bcg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.email--title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 140%; /* 44.8px */
  margin-bottom: 12px;
}

.email--text {
  max-width: 470px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
  padding-bottom: 30px;
}

.email__IconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  margin-bottom: 40px;
}

.email__IconWrap--text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.email__IconWrap__card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
}

.email--img:focus {
  outline: max(2px, 0.15em) solid rgb(243, 100, 17);
  outline-offset: max(2px, 0.15em);
}

.email__forms {
  display: flex;
  justify-content: center;
}

.email__forms--input {
  padding: 17px 205px 17px 32px;
  background: #f9f9f9;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
}

.email__forms--btn {
  padding: 16px 32px;
  background: #2a254b;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.email__wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 765px) {
  .email {
    padding-top: 24px;
    padding-bottom: 32px;
  }
  .email__IconWrap {
    gap: 8px;
    flex-direction: column;
    align-items: start;
  }
  .email__wrap {
    align-items: start;
  }
  .email--text {
    text-align: start;
    font-size: 14px;
    padding-bottom: 20px;
  }
  .email--title {
    text-align: start;
    font-size: 24px;
  }
  .email__forms--input {
    padding: 17px 1px 17px 32px;
  }
}
@media screen and (max-width: 420px) {
  .email__forms--input,
  .email__forms--btn {
    font-size: 14px;
  }
}

/*# sourceMappingURL=main.css.map */
