.cremes {
  margin-top: 80px;
}
.cremes-title {
  color: #2a254b;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 33px;
}
.cremes__wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cremes--img {
  margin-bottom: 24px;
}
.cremes--title {
  color: #2a254b;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%; /* 28px */
  margin-bottom: 8px;
}
.cremes--text {
  color: #2a254b;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.cremes--btn {
  background: #f9f9f9;
  padding: 16px 32px;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-top: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1300px) {
  .cremes--img {
    width: 250px;
    object-fit: cover;
  }
  .cremes {
    margin-top: 0;
  }
}
@media screen and (max-width: 1080px) {
  .cremes--img {
    width: 200px;
    object-fit: cover;
  }
  .cremes__wraper {
    flex-wrap: wrap;
    gap: 16px;
  }
}
@media screen and (max-width: 885px) {
  .cremes--img {
    width: 163px;
    height: 201px;
    object-fit: cover;
  }
  .cremes-title {
    font-size: 20px;
    margin-bottom: 19px;
  }
}
@media screen and (max-width: 410px) {
  .cremes__wraper {
    gap: 10px;
  }
  .cremes--btn {
    width: 300px;
  }
  .cremes--img {
    width: 150px;
    object-fit: cover;
    height: 180px;
  }
  .cremes--title {
    font-size: 18px;
  }
  .cremes--text {
    font-size: 14px;
  }

}
