.email {
  padding-top: 97px;
  padding-bottom: 88px;
  background-image: url(../../../img/email--bcg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
.email--title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 140%; /* 44.8px */
  margin-bottom: 12px;
}
.email--text {
  max-width: 470px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
  padding-bottom: 30px;
}
.email__IconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  margin-bottom: 40px;
}
.email__IconWrap--text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.email__IconWrap__card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
}
.email--img:focus {
  outline: max(2px, 0.15em) solid rgb(243, 100, 17);
  outline-offset: max(2px, 0.15em);
}
.email__forms {
  display: flex;
  justify-content: center;
}
.email__forms--input {
  padding: 17px 205px 17px 32px;
  background: #f9f9f9;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
}
.email__forms--btn {
  padding: 16px 32px;
  background: #2a254b;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.email__wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 765px) {
  .email {
    padding-top: 24px;
    padding-bottom: 32px;
  }
  .email__IconWrap {
    gap: 8px;
    flex-direction: column;
    align-items: start;
  }
  .email__wrap {
    align-items: start;
  }
  .email--text {
    text-align: start;
    font-size: 14px;
    padding-bottom: 20px;
  }
  .email--title {
    text-align: start;
    font-size: 24px;
  }
  .email__forms--input {
    padding: 17px 1px 17px 32px;
  }
}
@media screen and (max-width: 420px) {
  .email__forms--input,
  .email__forms--btn {
    font-size: 14px;
  }
}
