.hero {
  padding: 130px 0;
  background-image: url(../../../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
.hero__wrap {
  display: flex;
  justify-content: end;
}
.hero__info {
  padding: 48px 61px 46px 56px;
  background-color: #fff;
}
.hero--title {
  color: #22202e;
  max-width: 519px;
  font-size: 32px;
  font-weight: 400;
  line-height: 140%; /* 44.8px */
  margin-bottom: 20px;
}
.hero--text {
  margin-bottom: 150px;
  color: #5b5676;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.hero--btn {
  cursor: pointer;
  padding: 16px 32px;
  background: #f9f9f9;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.hero--none-img {
  display: none;
}
@media screen and (max-width: 1024px) {
  .hero--text {
    margin-bottom: 120px;
  }
  .hero__info {
    padding: 40px 51px 40px 50px;
  }
}
@media screen and (max-width: 765px) {
  .hero {
    padding: 0;
    margin-top: 45px;
    background: none;
  }
  .hero--none-img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  .hero__wrap {
    justify-content: center;
  }
  .hero--text {
    margin-bottom: 32px;
    font-size: 16px;
  }
  .hero--title {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .hero__info {
    padding: 0;
  }
  .hero--btn {
    width: 100%;
    margin-bottom: 32px;
  }
}
