.main {
  padding: 60px 0;
}
.main__wraper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.main__info {
  padding: 64px 75px 55px 64px;
  background-color: #2a254b;
  width: 50%;
}
.main__info--title {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 12px;
}
.main__info--text {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 205px;
}
.main__info--btn {
  padding: 16px 32px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  background: rgba(249, 249, 249, 0.15);
}
.main--img {
  object-fit: cover;
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .main__info--text {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 920px) {
  .main__info--text {
    margin-bottom: 50px;
  }
  .main__info {
    padding: 54px 65px 45px 54px;
  }
  .main {
    padding: 40px 0;
  }
}
@media screen and (max-width: 765px) {
  .main__info--text {
    margin-bottom: 56px;
    font-size: 14px;
  }
  .main__info--title {
    font-size: 20px;
  }
  .main__info {
    width: 100%;
    padding: 36px 32px 30px 32px;
  }
  .main__info--btn {
    width: 100%;
  }
  .main {
    padding: 32px 0;
  }
  .main__wraper {
    flex-direction: column;
  }
  .main--img {
    width: 100%;
  }
}
