.navbar {
  padding: 20px 28px;
}
.navbar__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar--icon {
  width: 16px;
  height: 16px;
}
.navbar--title {
  color: #22202e;
  font-size: 24px;
  font-weight: 400;
}
.nabar__icons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.navbar__icons--icon {
  width: 16px;
  height: 16px;
}
.menu {
  width: 16px;
  height: 16px;
  display: none;
}
.navbar--line {
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}
.navbar__bootom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
}
.navbar__bootom--link {
  color: #726e8d;
  font-size: 16px;
  font-weight: 400;
}
.nav-blokk {
  width: 16px;
  height: 16px;
  display: none;
}
@media screen and (max-width: 770px) {
  .navbar {
    padding: 20px 24px;
  }
  .navbar--icon,
  .navbar__bootom,
  .navbar--line,
  .nonee {
    display: none;
  }
  .menu {
    display: block;
  }
  .nav-blokk {
    display: block ;
  }
}
