* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  button {
    cursor: pointer;
  }
}
a,
li,
ul,
input,
button {
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
}
.container {
  max-width: 1321px;
  padding: 0 24px;
  margin: auto;
}
body {
  background-color: #fff;
}
